<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card-body">
                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">


                    <li class="nav-item">
                        <a role="tab" class="nav-link" routerLink="ajoutercontrat">
                            <span>Ajouter Contrat</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a role="tab" class="nav-link" routerLink="listecontrats">
                            <span>Lister</span>
                        </a>
                    </li>

                </ul>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>